/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


.main {
	width: 320px;
	height: 100%;
	overflow: hidden;
}

@mixin screen {
	display: none;
	width: 320px;
	height: 100%;
	background-image: url('img/01-bg.jpg');
	background-size: 100%;
}

.screen-01 {
	@include screen;
	.bg-01, .bg-02 {
		position: absolute;
		display: none;
		img {
			width: 100%;
		}
	}
}

.screen-02 {
	@include screen;
	background-image: url('img/02-bg.jpg');
	img {
		width: 100%;
	}
}

.fog-mask {
	-webkit-mask-image: url('img/fog.png');
	-webkit-mask-size: 1280px 2020px;
	-webkit-mask-position: -1280px 0px;
}
